body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-container {
  position: relative;
}

img {
  max-height: 600px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}